# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Компилированные файлы
*.exe
*.out
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.pdb

# Сборочные папки
build/
cmake-build-*/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# IDE
*.tmp
*.temp
*.swp
*.swo
*.~*

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Linux
*.pid
